
* {
    box-sizing:border-box;
}

body {
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    height: 100vh;
    
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  position: relative;
}



.nav {
    background-color:#2362f5;
    color: #fdfdfd;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap:2rem;
    padding: 0 8rem;
    position: sticky;
    top: 0;
    z-index:2
}

@media (max-width: 800px) {
    .nav {
        justify-content: center;
        gap:0.1rem; 
    }


    nav > .site-name {
        font-size: 1.2rem;
    
    }

    .router-link {
        font-size: 0.8rem;
    }
}

a {
    color: inherit;
    text-decoration: none;
    height:100%;
    display: flex;
    align-items: center;
    padding: 0.25rem;
    font-size: 1.4rem;
    margin-bottom: 10px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
a:hover {
    color:rgb(0, 0, 0)
}

.nav > ul {
    list-style-type: none;
    padding: 0;
    margin:0;
    display: flex;
    gap: 1rem;
}


.site-name {
    font-size: 2.5rem;
    margin-top: 15px;
}

.journey-item {
    display: flex;
    flex-direction: row;
    gap:10px
}


.stations {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-top: 100px;
    
}

.station-item {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.station-item > button {
    width: 100%;
    font-size: 1.4rem;
    border-style: none;
    background-color: rgb(216, 215, 215);
    margin-bottom: 8px;
    border-radius: 5px;
}

.details-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.details:first-child {
    display: flex;
    justify-content: flex-start;
    
}

.details-text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin:0;
}

.details {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.details-text >* {
    margin:5px
}

.map {
    height: 300px;
    width: 100%;
    background-color: #2362f5;
    margin-bottom: 20px;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}


div.leaflet-control-container > div.leaflet-bottom.leaflet-right > div {
    transform: scale(0.7);
    bottom:-20px;
    right: -35px
}