* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Gotham";
  src: url("./GothamRounded-Book.otf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Gotham";
  background:linear-gradient(rgba(0, 0, 0, 0.418), rgba(0, 0, 0, 0.459)),url('./images/tapio-haaja-zAtXZFrVhhg-unsplash.jpg');
  background-size: cover;
  
}

.main {
  display: flex;
  flex-direction: column;
  
  height: 100vh;
  position: relative;
}

.nav {
  background-color: #2362f5c4;
  color: #fdfdfd;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 8rem;
  position: sticky;
  top: 0;
  z-index: 4;
}

@media (max-width: 800px) {
  .nav {
    justify-content: center;
    gap: 0.1rem;
  }

  nav > .site-name {
    font-size: 1.2rem;
  }

  .router-link {
    font-size: 0.8rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  font-size: 1.4rem;
  margin-bottom: 10px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
a:hover {
  color: rgb(0, 0, 0);
}

.nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

.site-name {
  font-size: 2.5rem;
  margin-top: 15px;
}

.stations {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
  margin-top: 20px;
}

.station-item {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.station-item > button {
  width: 100%;
  font-size: 1.8rem;
  border-style: none;
  background-color: rgba(231, 231, 231, 0.74);
  margin-bottom: 17px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  color: rgb(0, 0, 0);
}

.station-item > .detailbutton-closed:after {
  content: "";
  position: relative;
  right: -15px;
  top: 20px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid rgb(16, 140, 255);
}

.station-item > .detailbutton-open:after {
  content: "";
  position: relative;
  right: -15px;
  top: -15px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgb(16, 140, 255);
}
.station-item > .detailbutton-open:hover,
.station-item > .detailbutton-closed:hover {
  transform: scale(1.05);
}

.details-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.466);
  border-radius: 10px;
  
}

.details:first-child {
  display: flex;
  justify-content: flex-start;
}

.details-text {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0;
}

.details {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.details-text > * {
  margin: 5px;
}

.map {
  height: 300px;
  width: 100%;
  background-color: #2362f5;
  margin-bottom: 20px;
  z-index: 1;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

div.leaflet-control-container > div.leaflet-bottom.leaflet-right > div {
  transform: scale(0.7);
  bottom: -20px;
  right: -35px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 0px;
  width: 70%;
  color: #fdfdfd;
  
}

.pagination > button {
  margin: 0;
  padding: 5px;
  font-size: 3rem;
  border-style: none;
  background-color: #ffffff00;
  color: #ffee02;
  
}

.pagination > button:hover {
  transform: scale(1.2);
  
}

.pagination > p {
  font-size: 1.7rem;
  position: relative;
  top: 3px;
}

.journeys {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
  margin-top: 10px;
}

.journey-item,
.titles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;

  margin: 0;
  background-color: rgba(223, 222, 222, 0.856);
  gap: 10px;
  margin-bottom: 8px;
  border-radius: 5px;
  width: 80%;
  padding-left: 20px;
  padding-right: 20px;
}
.titles {
  background-color: rgb(164, 194, 238);
}

@media (max-width: 500px) {
  .journey-item,
  .titles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;

    margin: 0;
    background-color: rgb(223, 222, 222);
    gap: 3px;
    margin-bottom: 8px;
    border-radius: 5px;
    width: 95%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.6rem;
  }
  .pagination > p {
    font-size: 1.1rem;
    position: relative;
    top: 3px;
  }

  nav > .site-name {
    font-size: 1rem;
    margin-bottom: 10px;
    transform: translateY(-10px);
  }

  .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .search-form > input {
    margin-bottom: 5px;
  }

  .footer {
    position: relative;
    bottom:-50px
  }
}

.search {
  margin-bottom: 80px;
}

.search-form {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.568);
  padding: 5px;
  border-radius: 10px;
}

.search-form > input {
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  border-style: none;
}

.search-form > button {
    
    border-radius: 5px;
    border-style: none;
  }

.home {
    display: flex;
    flex-direction: row;
    height: 100%;
    color: white;
    font-size: 1.6rem;
}

.home-journeys {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px rgba(255, 255, 255, 0.384) solid;
    transition: 1s ease-in-out;    
}

.home-stations {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
}

.home-journeys:hover {
    background-color: rgba(255, 255, 255, 0.281);
}


.home-stations:hover {
    background-color: rgba(255, 255, 255, 0.281);
}





.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    width:100%;
    padding-top: 10px;
    padding-bottom: 5px;
    flex-direction: column;
    
}

.footer > a {
    font-size: 0.8rem;
    margin-bottom: 0;
    text-decoration: underline;
    padding: 0
}